
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form_NguoiDung</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @views.html.title("VTAG ADMIN")

    @views.html.tags.main_css()
    <style >

        .container{
            display: flex;
            width: 800px;
            margin-top: 20px;
        }
        *{
            margin: 0 auto;
            padding: 0 auto;
            box-sizing: border-box;
            border-collapse: collapse;
        }
        .form_table tr, td,th{
            padding: 12px;
            border: 1px solid #000000;
            border-collapse: collapse;
        }
        .tableAdd{
            max-width: 100%;
            margin-bottom: 20px;
        }
        /modal/

        #modal form input{
            display: block;
        }

        #modal{
            position: fixed;
            width: 500px;
            background: #76808a;
            color: #000;
            top: 0;
            left: 0;
            right: 0;
        }
        .form-content {
            margin: 62px;
        }

              #modal .modal_close {
            height: 48px;
            color: #000000;
            font-size: 35px;
            text-align: right;
            margin-right: -33px;
            margin-top: -51px;
        }
        #modal .modal_close {
            height: 48px;
            color: #000000;
            font-size: 35px;
            text-align: right;
            margin-right: -33px;
            margin-top: -51px;
        }

        form.submit {
            text-align: center;
            margin-top: 18px;
        }
        .form-content .form_head{
            height: 48px;
            line-height: 48px;
            text-align: center;
        }

        .form-content .form-text{
            display: flex;
            padding: 12px;
            margin-right: 20px;
        }
        .form-content .form-text label{
            width: 100px;
        }
        .form-content .input .form_bottom{
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            margin-top: 24px;
            margin-bottom: -24px;
        }

    </style>
</head>
<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="rose" data-background-color="black" data-image="/assets/images/loginbg.png">
            <div class="logo">
                <a href="" class="simple-text logo-mini">
                    VA
                </a>
                <a href="" class="simple-text logo-normal">
                    vTag Admin
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="/assets/images/logo.png" />
                    </div>
                    <div class="user-info">
                        <a data-toggle="collapse" href="#collapseExample" class="username">
                                <span>
                                    admin2
                                    <b class="caret"></b>
                                </span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> MP </span>
                                        <span class="sidebar-normal"> My Profile </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> EP </span>
                                        <span class="sidebar-normal"> Edit Profile </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini"> S </span>
                                        <span class="sidebar-normal"> Settings </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item" id="menu-manageUser">
                        <a class="nav-link" href="/userList">
                            <i class="fa fa-user"></i>
                            <p> Manage User </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <p> Logout </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">

            <div class="content">
                <div class="container-fluid">

                    <div class="advanced-search" id="advanced-search-bar">
                        <div class="card">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="card-title">
                                            <a style="color: #428bca" id="aShowAdminFilter" href="javascript:void(0)" onclick="showAdminFilter()">Tìm kiếm: 3</a>
                                            <a style="color: #428bca" id="aShowAdminFilter2" href="javascript:void(0)" onclick="showAdminFilter()">(+)</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="toolbar" id="advanced-search-filterToolbar" style="float: right;display: none">
                                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                                            <a id="ApplyFilter" class="btn btn-rose" onclick="ApplyFilter(1,15,true)">
                                                <i class="fa fa-filter"></i> Tìm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="search-filter-body" style="display: none">
                                    <form action=/userList  method="POST" id="search-filter-form"  class="form-horizontal">

                                        <div class="col-md-12 search-field-header">
                                            <input name="page"  value="1"  style="display: none">
                                            <input name="pageSize"  value="15"   style="display: none">
                                            <input name="isResetPage"  value="false"   style="display: none">
                                            <input name="sortFieldName"  value="role"   style="display: none">
                                            <input name="isDesc"  value="true"   style="display: none">
                                            <div class="col-md-0" >
                                                <div style="display: none">
                                                    <select id="ChooseFilter" name="filter[]"  multiple data-title="Choose Filters" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
                                                        <option value="username">username</option>
                                                        <option value="role">role</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="username" class="search-field">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label">Username</label>
                                                <div class="col-sm-2 advancedSearchFrom" style="display: none">
                                                    <select class="selectpicker conditionOptionValue" id="conditionOptionValue-username" name="conditionList[0].compQueryOp" data-style="btn btn-primary" >
                                                        <option value==  >=</option>
                                                        <option value=&lt;&gt;  >&lt;&gt;</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6" >
                                                    <div class="form-group">
                                                        <input name="conditionList[0].fieldName"  value="username" class="form-control" style="display: none">
                                                        <input name="conditionList[0].fieldType"  value='String' class="form-control"  style="display:none">
                                                        <input name="conditionList[0].fieldValue" class="conditionTextValue form-control"  placeholder="" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="role" class="search-field">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label">filter.role</label>
                                                <div class="col-sm-2 advancedSearchFrom" style="display: none">
                                                    <input name="conditionList[1].fieldName"  value="role" class="form-control"  style="display: none">
                                                    <input name="conditionList[1].fieldType"  value='Int' class="form-control"  style="display: none">

                                                    <select class="selectpicker conditionOptionValue" id="conditionOptionValue-role" name="conditionList[1].compQueryOp" data-style="btn btn-primary" >
                                                        <option value==  >=</option>
                                                        <option value=&lt;&gt;   >&lt;&gt;</option>
                                                        <option value=&lt;=   >&lt;=</option>
                                                        <option value=&gt;=   >&gt;=</option>
                                                        <option value=between   >between</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3" >
                                                    <div class="form-group">
                                                        <input name="conditionList[1].fieldValue" class="conditionIntValue form-control"  placeholder="123..."  value="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3" id="rightBetween-role" style="display: none">
                                                    <div class="form-group">
                                                        <input name="conditionList[2].fieldName"  value="role" class="form-control"  style="display: none">
                                                        <input name="conditionList[2].compQueryOp"  value="<=" class="form-control"  style="display: none">
                                                        <input name="conditionList[2].fieldType"  value="Int" class="form-control" style="display: none">
                                                        <input name="conditionList[2].fieldValue" class="conditionIntValue form-control"  placeholder="123..." value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-field col-md-12" >
                                            <div class="col-md-2 col-md-offset-9" >
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear:both;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Quản lý người dùng</h4>

                                    <div class="toolbar" style="float: right">
                                        <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal" data-target="#editUser">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>New User
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div id="database"> </div>

                <div class="tableAdd">
                    <form action="" class = "submit">
                        <input class="submit" type="button"  value = "Thêm" onclick="document.getElementById('modal').style.display='block';document.getElementById('Save').style.display='none' ;document.getElementById('Add').style.display='block';">
                    </form>
                </div>
            </div>
        </div>


    </div>

<!--</div>-->
<div id="modal" style="display: none">
    <div class="form-content">
        <div class="modal_close" onclick="document.getElementById('modal').style.display='none';">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="form_head">
            <h3>Form thành viên</h3>
        </div>
        <form class = "input">
            <div class = "form-text">
                <label for="">STT</label>
                <input  class = "" type="text" name="stt" id="stt">
            </div>

            <div class = "form-text">
                <label for="">MTV</label>
                <input type="text" name="id" id="id">
            </div>

            <div class = "form-text">
                <label for="">Họ Tên</label>
                <input type="text" name="hoTen" id="hoTen">
            </div>

            <div class = "form-text">
                <label for="">Ngày sinh</label>
                <input type="text" name="ngaySinh" id="ngaySinh">
            </div>

            <div class = "form-text">
                <label for="">Quê quán</label>
                <input type="text" name="queQuan" id="queQuan">
            </div>

            <div class = "form-text">
                <label for="">Số CMND</label>
                <input type="text" name="soCMND" id="soCMND">
            </div>

            <div class = "form-text">
                <label for="">Phone</label>
                <input type="text" name="phone" id="phone">
            </div>

            <div class="form_bottom">
                <input type="button" id = "Add"  value="Add" onclick="them();">
                <input type="button"  id = "Save" value="Save" onclick="capNhat(this);">
                <input type="button" id = "Reset" value="Reset" onclick="resetRow(this);">
            </div>

        </form>
    </div>
</div>

<script>
    var data = [];
    function check(){
        var Stt = document.getElementById('stt').value;
        var Id = document.getElementById('id').value;
        var HoTen = document.getElementById('hoTen').value;
        var NgaySinh = document.getElementById('ngaySinh').value;
        var QueQuan = document.getElementById('queQuan').value;
        var SoCMND = document.getElementById('soCMND').value;
        var Phone = document.getElementById('phone').value;
        if (Stt=="")
        {
            alert("STT ko được để trống");
            return false ;
        }
        if( Id == "") {
            alert("ID ko được để trống");
            return false;
        }
        if( HoTen == "") {
            alert("Họ tên ko được để trống");
            return false;
        }
        if( NgaySinh == "") {
            alert("NgaySinh ko được để trống");
            return false;
        }
        if( QueQuan == ""){
            alert("QueQuan ko được để trống");
            return false ;
        }
        if( SoCMND == "") {
            alert("soCMND ko được để trống");
            return false;
        }
        if ( Phone == "") {
            alert("phone ko được để trống");
            return false;
        }
        return true ;
    }

    function hienThi(){
        var list = this.data ;
        var table = '<table class = "form_table" id ="form_table1"><thead><tr><th>STT</th><th>MTV</th><th>Họ Tên</th> <th>Ngày sinh</th><th>Quê quán</th><th>Số CMND</th><th>Phone</th><th>Chức năng</th></tr></thead><tbody>';
        var skill =  "<input class=\"submit\" type=\"button\" value = \"Delete\" onclick=\"deleteRow(this) ;\">\n" +
            " <input class=\"submit\" type=\"button\" value = \"Sửa\" onclick=\"document.getElementById('modal').style.display='block';editRow(this);\">" ;
        for (var i = 0; i<list.length; i++){
            table +='<tr>';
            table +='<td>'+list[i].stt+'</td>';
            table +='<td>'+list[i].id+'</td>';
            table +='<td>'+list[i].hoTen+'</td>';
            table +='<td>'+list[i].ngaySinh+'</td>';
            table +='<td>'+list[i].queQuan+'</td>';
            table +='<td>'+list[i].soCMND+'</td>';
            table +='<td>'+list[i].phone+'</td>';
            table +='<td>'+skill+'</td>';
            table +='</tr>';

        }
        table += '</tbody></table>';
        document.getElementById('database').innerHTML = table ;

    }

    var item = {
        stt :stt,
        id :id,
        hoTen :hoTen,
        ngaySinh :ngaySinh,
        queQuan :queQuan,
        soCMND :soCMND,
        phone :phone,
    };

    function checkID(id){
        var id = document.getElementById('id').value;
        var list = this.data;
        for (var i=0; i<list.length; i++){
            if (list[i].id == id){
                return true ;
            }
        }
    }
    function them(){
        var stt = document.getElementById('stt').value;
        var id = document.getElementById('id').value;
        var hoTen = document.getElementById('hoTen').value;
        var ngaySinh = document.getElementById('ngaySinh').value;
        var queQuan = document.getElementById('queQuan').value;
        var soCMND = document.getElementById('soCMND').value;
        var phone = document.getElementById('phone').value;
        var item = {
            stt :stt,
            id :id,
            hoTen :hoTen,
            ngaySinh :ngaySinh,
            queQuan :queQuan,
            soCMND :soCMND,
            phone :phone,
        };
        if (check()){
            this.data.push(item);
            hienThi() ;
            document.getElementById('Save').style.display="none" ;
        }

    }

    //reset
    function resetRow(){
        document.getElementById('stt').value = "";
        document.getElementById('id').value = "";
        document.getElementById('hoTen').value = "";
        document.getElementById('ngaySinh').value = "";
        document.getElementById('queQuan').value = "";
        document.getElementById('soCMND').value = "";
        document.getElementById('phone').value = "";
    }

    // Sửa
    var selectedIndex = -1 ;
    function  editRow(el){
        var selectedRow = el.parentElement.parentElement;
        var stt = selectedRow.cells[0].innerText;
        var id = selectedRow.cells[1].innerText;
        var hoTen = selectedRow.cells[2].innerText;
        var ngaySinh = selectedRow.cells[3].innerText;
        var queQuan = selectedRow.cells[4].innerText;
        var soCMND = selectedRow.cells[5].innerText;
        var phone = selectedRow.cells[6].innerText;

        document.getElementById('stt').value = stt;
        document.getElementById('id').value = id;
        document.getElementById('hoTen').value = hoTen;
        document.getElementById('ngaySinh').value = ngaySinh;
        document.getElementById('queQuan').value = queQuan ;
        document.getElementById('soCMND').value = soCMND;
        document.getElementById('phone').value = phone;

        selectedIndex = parseInt(selectedRow.cells[0].innerText)-1;
        document.getElementById('Add').style.display="none" ;
        document.getElementById('Save').style.display="block" ;
    }

    function capNhat(){
        data[selectedIndex].stt =  document.getElementById('stt').value;
        data[selectedIndex].id =  document.getElementById('id').value;
        data[selectedIndex].hoTen =  document.getElementById('hoTen').value;
        data[selectedIndex].ngaySinh =  document.getElementById('ngaySinh').value;
        data[selectedIndex].queQuan =  document.getElementById('queQuan').value;
        data[selectedIndex].soCMND =  document.getElementById('soCMND').value;
        data[selectedIndex].phone =  document.getElementById('phone').value;
        console.log(selectedIndex);
        hienThi() ;
    }

    //   Xóa
    function deleteRow(row){
        var i=row.parentNode.parentNode.rowIndex;
        if (confirm("Bạn có muốn xóa không! "))
        {
            document.getElementById('form_table1').deleteRow(i);
        }
    }
</script>
</body>

</html>
