<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">*</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="model">
          <div class="form-content">
            <form class = "input">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>STT</label>
                  </div>
                  <div class="col-md-7">
                    <input id="sttEdit" class="" type="text" name="STT" id="STT"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>Thuộc tính</label>
                  </div>
                  <div class="col-md-7">
                    <input class="" type="text" name="Thuộc tính" id="thuocTinh"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>ID</label>
                  </div>
                  <div class="col-md-7">
                    <input class="" type="text" name="ID" id="ID"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>Loại thuộc tính</label>
                  </div>
                  <div class="col-md-7">
                    <input class="" type="text" name="Loại thuộc tính"id="Loai Thuoc Tinh"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>Loại giá trị</label>
                  </div>
                  <div class="col-md-7">
                    <input class="" type="text" name="Loại giá trị" id="Loai gia tri"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>Giá trị mặc đinh</label>
                  </div>
                  <div class="col-md-7">
                    <input class="" type="text" name="Giá trị mặc định" id="Gia tri mac dinh"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>Giá trị hiện tại</label>
                  </div>
                  <div class="col-md-7">
                    <input class="" type="text" name="Giá trị hiện tại" id="Gia tri hien tai"/>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label>Cập nhập lần cuối</label>
                  </div>
                  <div class="col-md-7">
                    <input class="" type="text" name="Cập nhập lần cuối" id="Cap nhap lan cuoi"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer">
          <button id="btnSave" type="button" onclick="editTable()">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>